<h1><%= @make_model.model %></h1>
<dl class="make-model">
  <dt>Make</dt><dd><%= @make_model.make %></dd>
  <dt>Model</dt><dd><%= @make_model.model %></dd>
  <dt>Empty weight</dt><dd><%= @make_model.empty_weight_lbs %> lbs</dd>
  <dt>Maximum weight</dt><dd><%= @make_model.max_weight_lbs %> lbs</dd>
  <dt>Horsepower</dt><dd><%= @make_model.horsepower %></dd>
  <dt>Seats</dt><dd><%= @make_model.seats %></dd>
  <dt>Wings</dt><dd><%= @make_model.wings %></dd>
</dl>
