<h1>Judge Experience <%= @year %></h1>

<p>Judges in each category who have judged the most flights, 
with the most pilots, most in accordance with the results.
We show only the first <%= @max_displayed %> in any category.</p>

<p>
  <% @years.each do |year| %>
    <%= link_to year, leaders_judges_path(year) %>
  <% end %>
</p>
<ul
  id='judge-leaders-tabs'
  class='tabs judge-leaders-category-list'
  data-tabs
>
  <% @results.each_with_index do |cat_jy, index| %>
    <li class=
      "tabs-title <%= 'is-active' if index == 0 %> judge-leaders-category"
    >
      <a
        href="#<%= judge_leaders_cat_id(cat_jy[0]) %>"
        <%= 'aria-selected="true"' if index == 0 %>
      >
        <%= cat_jy[0].name %>
      </a>
    </li>
  <% end %>
</ul>
<div
  class='tabs-content judge-leaders-category-collection'
  data-tabs-content="judge-leaders-tabs"
>
  <% @results.each_with_index do |cat_jy, index| %>
    <%= render :partial => 'jy_category',
      :locals => {
      category: cat_jy[0],
      jy_results: cat_jy[1],
      is_first: index == 0
    } %>
  <% end %>
</div>

