<h1>Top Judges <%= @year %></h1>

<p>Judges in each category who have judged the most flights, 
with the most pilots, most in accordance with the results.</p>

<p>
<% @years.each do |year| %>
  <%= link_to year, leaders_path(year) %>
<% end %>
</p>
<table class='judge_leaders'>
<tbody>
<% @results.each do |cat, jy_results| %>
  <%= render :partial => 'judges/stats_header', :object => cat.name %>
  <% jy_results.each do |jy_result| %>
    <tr>
      <td/>
      <td/>
      <td><%= link_to jy_result.judge.name, judge_cv_path(jy_result.judge) %></td>
      <%= render :partial => 'judges/stats_column_values', :object => jy_result %>
    </tr>
  <% end %>
<% end %>
</tbody>
</table>
