<h1>Judge Experience <%= @year %></h1>

<p>The first,
by decreasing {N_c - N_d}
(see <%= link_to 'notes', "#{pages_path(:notes)}#judge-leaders" %>),
up to <%= @max_displayed %> judges in each category who have
<ul>
  <li>judged the most flights</li>
  <li>with the most pilots</li>
  <li>most in accordance with the results</li>
</ul>
</p>

<p>
  <% @years.each do |year| %>
    <%= link_to year, leaders_judges_path(year) %>
  <% end %>
</p>
<ul
  id='judge-leaders-tabs'
  class='tabs judge-leaders-category-list'
  data-tabs
>
  <% @results.each_with_index do |cat_jy, index| %>
    <li class=
      "tabs-title <%= 'is-active' if index == 0 %> judge-leaders-category"
    >
      <a
        href="#<%= judge_leaders_cat_id(cat_jy[0]) %>"
        <%= 'aria-selected="true"' if index == 0 %>
      >
        <%= cat_jy[0].name %>
      </a>
    </li>
  <% end %>
</ul>
<div
  class='tabs-content judge-leaders-category-collection'
  data-tabs-content="judge-leaders-tabs"
>
  <% @results.each_with_index do |cat_jy, index| %>
    <%= render :partial => 'jy_category',
      :locals => {
      category: cat_jy[0],
      jy_results: cat_jy[1],
      is_first: index == 0
    } %>
  <% end %>
</div>

