<h1>National Point Series Championship Results, <%= @year %></h1>

<p>
<% @years.each do |year| %>
  <%= link_to year, leaders_leo_path(year) %>
<% end %>
</p>
<p>
  This award recognizes the most skilled pilots who competed in at least three
  different regions in a single year. Championship points are earned at each contest based on a
  <a href="https://en.wikipedia.org/wiki/Percentile_rank" target="_blank">percentile ranking</a>
  for each contest flown, rather than by straight score percentages. This minimizes the differences
  in regional judging, contest size, use of boundary judges, etc.
  For complete details, see IAC Policy and Procedure #227. </p>

<p class="c">
  <% cats = LeoRank.categories(@year).map{ |cat| "<b><a href='##{cat.category}'>#{cat.category.titleize}</a></b>" } %>
  <%= cats.join(" &bull; ").html_safe %>
</p>

<p>&nbsp;</p>

<% p_rank = 'The average of the best percentile ranks from three separate contest regions.' %>

<table class='soucy'>

  <% LeoRank.categories(@year).each do |category| %>

    <thead>
    <tr>
        <th colspan=99 class="c">
          <a id="<%= category.category %>"> </a>
          <h3> <%= category.name %> </h3>
        </th>
      </tr>
      <tr>
        <th class="b"> Rank </th>
        <th class="b">Pilot</th>
        <th class="b r">Avg. Rank<%= image_tag('info_icon.png', size: 18, title: p_rank) %></th>
        <th class="b">Contests</th>
      </tr>
    </thead>

    <tbody>

      <% @leo_ranks.where(category: category, qualified: true).order(:rank).each do |lr| %>

        <tr>
          <td> <%= lr.rank %> </td>
          <td> <%= link_to lr.pilot.name, "/pilots/#{lr.pilot.id}" %> </td>
          <td class="r"> <%= lr.points %> </td>
          <td> TBD </td>
        </tr>

      <% end %>

      <% if @leo_ranks.where(category_id: category.id, qualified: true).empty? %>
      <tr> <td colspan="99" class="c"> <em> No pilots met the qualifications for this category </em> </td> </tr>
      <% end %>

     <% unless category == LeoRank.categories(@year).last %>
      <tr class="no-shading"> <td colspan="99"> &nbsp; </td> </tr>
     <% end %>

    </tbody>

  <% end %>

</table>


<h2> Ineligible Flights</h2>
<p> EXPLAIN WHY: flew higher in prior two years, or HC</p>
<table> List o' flights </table>
