<% def sbr(obj); sanitize(obj.join('<br>')); end %>

<h1>National Point Series Championship Results, <%= @year %></h1>

<p>
  <% @years.each do |year| %>
    <%= link_to year, leaders_leo_path(year) %>
  <% end %>
</p>
<p>
  This award recognizes the most skilled pilots who competed in at least three
  different regions in a single year. Championship points are earned at each contest based on a
  <a href="https://en.wikipedia.org/wiki/Percentile_rank" target="_blank">percentile ranking</a>
  for each contest flown, rather than by straight score percentages. This minimizes the differences
  in regional judging, contest size, use of boundary judges, etc.
</p>
<p>
  <%= link_to 'Click here', 'https://www.iac.org/national-point-series-championship-iac-npsc' %>
  for complete details.
</p>

<br>
<p class="c">
  <% cats = LeoRank.categories(@year).map{ |cat| "<b><a href='##{cat.category}'>#{cat.category.titleize}</a></b>" } %>
  <%= cats.join(" &bull; ").html_safe %>
</p>

<h2> Winners: </h2>

<%= render partial: 'leo_table', locals: { qual: true } %>

<br>
<br>
<h2> Ineligible Flights:</h2>
<p> The following flights did not quality for the National Point Series because the competitor did not compete in
at least three regions, or they competed in a higher category within the past two years, or they flew as
<em>hors concours</em> (HC).</p>
<br>
<%= render partial: 'leo_table', locals: { qual: false } %>
