<h1>Admin Member Merge</h1>

<% if flash[:notice] %>
  <p id="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:alert] %>
  <p id="alert"><%= flash[:alert] %></p>
<% end %>

<%= form_tag admin_members_merge_path do %>
  <% @members.each do |member| %>
    <p>
      <%= radio_button_tag :target, member.id, member.id == @target %>
      <%= "#{member.name}, #{member.iac_id}" %>
      <%= hidden_field_tag "selected[#{member.id}]" %>
    </p>
  <% end %>
  <%= submit_tag :merge, data: { :confirm => 'Be careful. This cannot be undone.' } %>
  <%= link_to :cancel, admin_members_path(:anchor => @target) %>
  <p>"Merge" will place all of the following with
  the selected member and delete the other member(s).</p>
<% end %>
