<h3><%= c_result.display_category %></h3>

<table class='pilot_results'><thead><tr>
  <th colspan='3'>Pilot</th>
  <th>Airplane</th>
<% flight_order = [] %>
<% c_result.f_results.order(:id).each do |f_result| %>
  <th colspan='3'>
  <%= link_to(f_result.flight.name, flight_path(f_result.flight)) %>
  <% flight_order << f_result.id %>
  </th>
<% end %>
<th colspan='3'>Total</th>
</tr></thead><tbody>
<% c_result.pc_results.order(:category_rank).each do |pc_result| %>
<tr>
  <% pilot = pc_result.pilot %>
  <% pf_result = pc_result.pf_results.first %>
  <% pilot_flight = pf_result.pilot_flight if pf_result %>
  <% airplane = pilot_flight.airplane if pilot_flight %>
  <td class='star'>
    <%= pc_result.star_qualifying ? '★' : ' ' %>
  </td>
  <td class="pilot">
    <%= link_to("#{pilot.name}", pilot_score_path(pilot, @contest)) if pilot %>
  </td>
  <td class="chapter">
    <%= "(#{pilot_flight.chapter})" if pilot_flight.chapter && !pilot_flight.chapter.strip.empty? %>
  </td>
  <td class='airplane'><%= airplane.description if airplane %></td>
  <% flight_index = 0 %>
  <% pc_result.pf_results.order(:f_result_id).each do |pf_result| %>
    <!-- insert and blank columns -->
    <% while flight_index < flight_order.size && 
             pf_result.f_result_id != flight_order[flight_index] do %>
      <td colspan='3'/>
      <% flight_index += 1 %>
    <% end %>
    <% flight_index += 1 %>
    <td class='total_average'>
      <%= decimal_two(pf_result.adj_flight_value) %>
    </td>
    <td class='percentage'>
      <%= score_pct_two(pf_result.adj_flight_value, pf_result.total_possible) %>%
    </td>
    <td class='rank'>(<%= pf_result.adj_flight_rank %>)</td>
  <% end %>
  <% while flight_index < flight_order.size do %>
    <td colspan='3'/>
    <% flight_index += 1 %>
  <% end %>
  <td class='total_average'>
    <%= decimal_two(pc_result.category_value) %>
  </td>
  <td class='percentage'>
    <%= score_pct_two(pc_result.category_value, pc_result.total_possible) %>%
  </td>
  <td class='rank'>(<%= pc_result.category_rank %>)</td>
</tr>
<% end %>
</tbody></table>
<table>
<table class='judge_results'><thead>
<tr>
<th colspan='2'>Judge</th>
<%= render :partial => 'judges/stats_column_headers' %>
</tr>
<tbody>
<%= render :partial => 'judges/jc_result', :collection => c_result.jc_results %>
</tbody></table>
