<h1>Admin::Failure</h1>
<p><%= button_to 'Index', admin_failures_path, method: :get %></p>
<ul>
  <li>Step: <%= @failure.step %></li>
  <li>Contest id: <%= @failure.contest_id || 'missing' %></li>
  <li>Contest name: <%= @failure.contest.year_name if @failure.contest %></li>
  <li>Data post id: <%= @failure.data_post_id %></li>
  <li>Updated: <%= @failure.updated_at %></li>
</ul>

<h4>Description:</h4>
<pre><%= @failure.description %></pre>
