  <td class='rho'><%= stats_column_values.cc %></td>
  <td class='gamma'><%= stats_column_values.gamma %></td>
  <td class='count'><%= stats_column_values.pilot_count %></td>
  <td class='count'><%= stats_column_values.pair_count %></td>
  <td class='count'><%= stats_column_values.flight_count %></td>
  <td class='avg'><%= decimal_two(stats_column_values.avgFlightSize) %></td>
  <td class='count'><%= stats_column_values.figure_count %></td>
  <td class='avg'><%= decimal_two(stats_column_values.avgK) %></td>
  <td class='count'><%= stats_column_values.minority_zero_ct %></td>
  <td class='count'><%= stats_column_values.minority_grade_ct %></td>
