<%= javascript_include_tag 'flot/jquery.flot.js' %>
<%= javascript_include_tag 'plotter.js' %>
<p id="notice"><%= notice %></p>

<h2><%= link_to(@flight.contest.name, contest_path(@flight.contest)) %></h2>
<h1><%= link_to(@flight.displayName, flight_path(@flight.id)) %></h1>

<p>Chief judge <%= @flight.display_chief %></p>

<h2><%= @judge_team.team_name %></h2>

<%= render :partial => 'figure_histogram', :collection => @figure_histograms %>

