<table><thead>
<tr>
<th>Judge</th>
<th>rho</th>
<th>cc</th>
<th>ri</th>
<th>tau</th>
<th>gamma</th>
<th>Mz</th>
<th>Mg</th>
</tr>
<tbody>
<% j_results.each_with_index do |j_result, j| %>
  <tr>
  <td><%= "J#{j+1} #{j_result.judge_name}" %></td>
  <td><%= j_result.rho %></td>
  <td><%= j_result.cc %></td>
  <td><%= j_result.ri %></td>
  <td><%= j_result.tau %></td>
  <td><%= j_result.gamma %></td>
  <td><%= j_result.minority_zero_ct %></td>
  <td><%= j_result.minority_grade_ct %></td>
  </tr>
<% end %>
</tbody></table>
