<h1><%= @judge.name %></h1>

<table>
<tbody>
<% @sj_results.each do |sj_result| %>
  <tr><td colspan='7'><%= sj_result[0] %></td></tr>
  <% sj_result[1].each do |sj_cat_result| %>
    <tr><td/><td colspan = '7'><%= sj_cat_result[0] %></td></tr>
    <% sj_cat_result[1].each do |sj_line_result| %>
      <% j_result = sj_line_result[1] %>
      <tr>
        <td colspan='2'/>
        <td><%= sj_line_result[0] %></td>
        <td><%= j_result.cc %></td>
        <td><%= j_result.ri %></td>
        <td><%= j_result.gamma %></td>
        <td><%= j_result.pilot_count %></td>
        <td><%= j_result.pair_count %></td>
        <td><%= j_result.flight_count %></td>
        <td><%= j_result.avgFlightSize %></td>
        <td><%= j_result.figure_count %></td>
        <td><%= j_result.avgK %></td>
        <td><%= j_result.minority_zero_ct %></td>
        <td><%= j_result.minority_grade_ct %></td>
      </tr>
    <% end %>
  <% end %>
<% end %>
</tbody>
</table>
