<h1><%= @judge.name %></h1>

<ul class='no-bullets'>
<% @contests.each do |contest| %>
  <li>
    <%= contest.start %>
    <%= link_to contest.name, contest %>
    (<%= contest.region %>,
    <%= contest.category %>)
  </li>
<% end %>
</ul>
