<p id="notice"><%= notice %></p>

<p>
  <b>Judge:</b>
  <%= @judge.judge %>
</p>

<p>
  <b>Assist:</b>
  <%= @judge.assist %>
</p>


<%= link_to 'Edit', edit_judge_path(@judge) %> |
<%= link_to 'Back', judges_path %>
