<h2><%= link_to(@flight.contest.name, contest_path(@flight.contest)) %></h2>
<h1><%= @flight.displayName %></h1>
<p>Chief judge <%= @flight.display_chief %></p>

<table class='flight_results'><thead>
<tr>
<th colspan='2'>Pilot</th>
<th>Airplane</th>
<% if @judge_results.values[0] %>
  <% @judge_results.values[0].each_with_index do |pfj_result, j| %>
    <th colspan='2'><%= "J#{j+1}" %></th>
  <% end %>
<% end %>
<th colspan='3'>Score</th>
<th>Pnlt</th>
<th colspan='2'>Result</th>
</tr>
</thead><tbody>
<% @pf_results.each do |pf_result| %>
  <% pilot_flight = pf_result.pilot_flight %>
  <tr>
  <td class='pilot'>
    <% pilot = pilot_flight.pilot %>
    <%= link_to pilot.name, pilot_score_path(pilot, @flight.contest) %>
    <%= " (patch)" if pilot_flight.hors_concours %>
  </td>
  <td class='chapter'>
    <%= "(#{pilot_flight.chapter})" if pilot_flight.chapter && !pilot_flight.chapter.strip.empty? %>
  </td>
  <% airplane = pilot_flight.airplane %>
  <td class='airplane'><%= airplane.description if airplane %></td>
  <% @judge_results[pf_result].each do |pfj_result| %>
    <td class='total_average'>
      <%= score_two(pfj_result.flight_value) %>
    </td>
    <td class='rank'>(<%= pfj_result.flight_rank %>)</td>
  <% end %>
  <td class='total_average'>
    <%= decimal_two(pf_result.flight_value) %>
  </td>
  <td class='percentage'>
    <%= score_pct_two(pf_result.flight_value, pf_result.total_possible) %>%
  </td>
  <td class='overall_rank'>(<%= pf_result.flight_rank %>)</td>
  <td class='points'><%= pilot_flight.penalty_total %></td>
  <td class='total_average'>
    <%= decimal_two(pf_result.adj_flight_value) %>
  </td>
  <td class='overall_rank'>(<%= pf_result.adj_flight_rank %>)</td>
  </tr>
<% end %>
</tbody></table>
<%= render :template => 'judges/results',
  :locals => { :j_results => @jf_results } %>
