
<p id="notice"><%= notice %></p>

<h1><%= @contest.name %></h1>
<p class="contest_place">Held in <%= @contest.place %>, <%= @contest.start %></p>
<p class="contest_director">Directed by <%= @contest.director %>, 
   Chapter <%= @contest.chapter %></p>

<% @contest.flights.each do |flight| %>
  <%= render :partial => 'raw_flight',
    :locals => { :flight => flight } %>
<% end %>
