<p id="notice"><%= notice %></p>

<h1><%= @contest.name %></h1>
<p class="contest_place">Held in <%= @contest.place %>, <%= @contest.start %></p>
<% unless @contest.organizers.empty? %>
  <p class="contest_director"><%= @contest.organizers %></p>
<% end %>
<% unless @contest.chief_names.empty? %>
  <p class="contest_chief">Chief Judge(s): <%= @contest.chief_names.join(', ') %></p>
<% end %>

<%= render :partial => 'contests/category', collection: @categories,
  :locals => { no_category_chiefs: (@contest.chief_names.length < 2) } %>

