<p id="notice"><%= notice %></p>

<h1><%= @contest.name %></h1>
<% if true || (@contest.start <= Date.tomorrow && @contest.start >= Date.today - 10.days) %>
  <%= button_to 'Live Results', "/live_results/#{@contest.id}", method: :get %>
  <br>
<% end %>
<p class="contest_place"><%= @contest.place_and_time %></p>
<% unless @contest.organizers.empty? %>
  <p class="contest_director"><%= @contest.organizers %></p>
<% end %>
<% unless @contest.chief_names.empty? %>
  <p class="contest_chief">Chief Judge(s): <%= @contest.chief_names.join(', ') %></p>
<% end %>

<% if @categories.empty? %>
  <p class='message'>This contest has not posted any results.</p>
<% end %>

<%= render :partial => 'contests/category', collection: @categories,
  :locals => { no_category_chiefs: (@contest.chief_names.length < 2) }
%>
