<%= render 'admin/admin_menu' %>

<% if flash[:notice] %>
  <p id="notice" ><%= flash[:notice] %></p>
<% end %>

<h1>Admin Contests</h1>

<table>
<thead>
  <tr>
    <th>c_id</th>
    <th>m_no</th>
    <th>start</th>
    <th>name</th>
    <th>place</th>
    <th colspan='2'>calcs</th>
    <th colspan='3'>actions</th>
  </tr>
</thead>
<tbody>
<% @contests.each do |contest| %>
  <tr>
    <td><%= contest.id %></td>
    <% manny = contest.manny_synch %>
    <td><%= manny.manny_number if manny%></td>
    <td><%= contest.start %></td>
    <td><%= link_to contest.sobriquet, contest %></td>
    <td><%= contest.place %></td>
    <% pc_results = contest.pc_results %>
    <% if pc_results %>
      <td><%= link_to 'pilot', admin_contest_pc_results_path(contest) %></td>
    <% else %>
      <td/>
    <% end %>
    <% jc_results = contest.jc_results %>
    <% if jc_results %>
      <td><%= link_to 'judge', admin_contest_jc_results_path(contest) %></td>
    <% else %>
      <td/>
    <% end %>
    <td><%= link_to :edit, edit_admin_contest_path(contest) %></td>
    <td>
      <%= link_to :recompute, recompute_admin_contest_path(contest),
        data: { :confirm => 'Queues a job to recompute all contest results.  Okay?' } %>
    </td>
    <td>
      <%= link_to :delete, admin_contest_path(contest), 
        data: { :confirm => 'Will leave the Manny synch record.  Okay?' }, 
        :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
