
<p class="action">
<%= link_to 'Admin', admin_root_path %>
</p>
<p class="action">
<%= link_to 'Admin Manny Synch Records', admin_manny_synchs_path %>
</p>
<p class="action">
<%= link_to 'Admin Failures', admin_failures_path %>
</p>

<% if flash[:notice] %>
  <p id="notice" ><%= flash[:notice] %></p>
<% end %>

<h1>Manny List</h1>

<table>
<thead>
  <tr>
    <th>m_no</th>
    <th>aircat</th>
    <th>name</th>
    <th>city</th>
    <th>state</th>
    <th>dateAdv</th>
    <th>director</th>
    <th>chapter</th>
    <th>region</th>
    <th>manny_date</th>
    <th>JaSPer version</th>
    <th>code</th>
    <th>comment</th>
    <th>record_date</th>
  </tr>
</thead>
<tbody>
<%= render :partial=>'manny_record', :collection => @records %>
</tbody>
</table>
