<p class="action">
Admin:
<%= link_to 'Contests', admin_contests_path %> |
<%= link_to 'Manny Synch Records', admin_manny_synchs_path %> |
<%= link_to 'Manny List', admin_manny_list_path %> |
<%= link_to 'Member Records', admin_members_path %> |
<%= link_to 'Failures', admin_failures_path %> |
<%= link_to 'Data Posts', admin_data_posts_path %> |
<%= link_to 'Job Queue', admin_queues_path %> |
<%= link_to 'Free Ks', admin_free_program_ks_path %> |
<%= link_to 'Pilot Contest Counts', '/admin/pilot_contest_counts' %>
</p>

