<h1>Listing scores</h1>

<table>
  <tr>
    <th>Pilot flight</th>
    <th>Judge</th>
    <th>Values</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scores.each do |score| %>
  <tr>
    <td><%= score.pilot_flight_id %></td>
    <td><%= score.judge_id %></td>
    <td><%= score.values %></td>
    <td><%= link_to 'Show', score %></td>
    <td><%= link_to 'Edit', edit_score_path(score) %></td>
    <td><%= link_to 'Destroy', score, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Score', new_score_path %>
