<p id="notice"><%= notice %></p>

<p>
  <b>Pilot flight:</b>
  <%= @score.pilot_flight_id %>
</p>

<p>
  <b>Judge:</b>
  <%= @score.judge_id %>
</p>

<p>
  <b>Values:</b>
  <%= @score.values %>
</p>


<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
