<tr class='collegiate_team'>
<td class='rank'><%= collegiate_result.rank.ordinalize if collegiate_result.qualified %></td>
<td class='team_name'><%= collegiate_result.name %></td>
<td/>
<td class='points'><%= decimal_two(collegiate_result.points) %></td>
<td class='points_possible'><%= points(collegiate_result.points_possible) %></td>
<td class='percentage'><%= decimal_two(collegiate_result.result_percent) %>%</td>
<td/>
</tr>
<%= render :partial => 'collegiate_results/collegiate_individual', 
   :collection => @college_pilots[collegiate_result], 
   :locals => { combination: collegiate_result.pc_results } %>
