<p id="notice"><%= notice %></p>

<h1>Free Program Ks</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Category</th>
      <th>Max k</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @free_program_ks.each do |free_program_k| %>
      <tr>
        <td><%= free_program_k.year %></td>
        <td><%= free_program_k.category %></td>
        <td><%= free_program_k.max_k %></td>
        <td><%= link_to 'Show', admin_free_program_k_path(free_program_k) %></td>
        <td><%= link_to 'Edit', edit_admin_free_program_k_path(free_program_k) %></td>
        <td><%= link_to 'Destroy', admin_free_program_k_path(free_program_k), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to 'New Free Program K', new_admin_free_program_k_path, method: :get %>
