<%= form_for(@pilot_flight) do |f| %>
  <% if @pilot_flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pilot_flight.errors.count, "error") %> prohibited this pilot_flight from being saved:</h2>

      <ul>
      <% @pilot_flight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pilot_id %><br />
    <%= f.text_field :pilot_id %>
  </div>
  <div class="field">
    <%= f.label :flight_id %><br />
    <%= f.text_field :flight_id %>
  </div>
  <div class="field">
    <%= f.label :sequence_id %><br />
    <%= f.text_field :sequence_id %>
  </div>
  <div class="field">
    <%= f.label :aircraft_id %><br />
    <%= f.text_field :aircraft_id %>
  </div>
  <div class="field">
    <%= f.label :chapter %><br />
    <%= f.text_field :chapter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
