  <% pf_result = pilot_flight.pf_results.first %>
  <% flight = pilot_flight.flight %>

  <h3>
    <%= link_to flight.displayName, flight_path(flight.id) %>
    <%= pilot_flight.airplane.description if pilot_flight.airplane %>
  </h3>

  <% sequence = pilot_flight.sequence %>
  <% scores = pilot_flight.scores.order(:judge_id) %>
  <% ctJudge = scores.size %>
  <% pfj_results = [] %>

  <% if 0 < ctJudge %>
    <table class="scores">
    <thead>
      <tr>
        <th class='figure_number'>F</th>
        <% (1 .. ctJudge).each do |j| %>
          <% pfj_results << pf_result.for_judge(scores[j-1].judge) if pf_result %>
          <th colspan='2'>J<%= j %></th>
        <% end %>
        <% if sequence %>
          <th colspan='2'>Avg</th>
          <th>K</th>
          <th>PtsLoT</th>
        <% end # if sequence %>
      </tr>
    </thead>

    <tbody>
    <% ctFigs = scores[0].values.size %>
    <% if 0 < ctFigs %>
      <% (1 .. ctFigs-1).each do |f| #figures %>
        <tr>
          <td class='figure_number'><%= (f).to_s %></td>
          <% (1 .. ctJudge).each do |j| #judges %>
            <td class='score'><%= Score.display_score(scores[j-1].values[f-1]) %></td>
            <td class='rank'><%= figure_rank(pfj_results[j-1].graded_ranks,
            f-1) if pf_result %></td>
          <% end #judges %>
          <% if sequence %>
            <td class='total_average'>
              <%= avg(pf_result.figure_results[f-1], sequence.k_values[f-1]) if pf_result %>
            </td>
            <td class='rank'>
              <%= figure_rank(pf_result.figure_ranks, f-1) if pf_result %>
            </td>
            <td class='k_value'><%= sequence.k_values[f-1] %></td>
            <td class='points'>
              <%= ptsLoT(pf_result.figure_results[f-1], sequence.k_values[f-1]) if pf_result %>
            </td>
          <% end %>
        </tr>
      <% end #figures %>
    <% end #if ctFigs %>

    <tr>
      <td class='figure_number'>P</td>
      <% (1 .. ctJudge).each do |j| #judges %>
        <td class='score'>
          <%= Score.display_score(scores[j-1].values[ctFigs-1]) %>
        </td>
        <td class='rank'>
          <%= figure_rank(pfj_results[j-1].graded_ranks, ctFigs-1) if
          pf_result %>
        </td>
      <% end #judges %>
      <% if sequence %>
        <td class='total_average'>
          <%= avg(pf_result.figure_results[ctFigs-1], sequence.k_values[ctFigs-1]) if pf_result %>
        </td>
        <td class='rank'>
          <%= figure_rank(pf_result.figure_ranks, ctFigs - 1) if pf_result %>
        </td>
        <td class='k_value'><%= sequence.k_values[ctFigs-1] %></td>
        <td class='points'>
          <%= ptsLoT(pf_result.figure_results[ctFigs-1], sequence.k_values[ctFigs-1]) if pf_result %>
        </td>
      <% end %>
    </tr>

    <% if sequence %>
      <tr>
        <td>Points</td>
        <% (1 .. ctJudge).each do |j| %>
          <td class='total_average'>
            <%= Score.display_score(pfj_results[j-1].flight_value) if pf_result %>
          </td>
          <td class='rank'>
            <%= rank(pfj_results[j-1].flight_rank) if pf_result %>
          </td>
        <% end %>
        <td class='total_average'>
          <%= points(pf_result.flight_value) if pf_result %>
        </td>
        <td class='rank'><%= rank(pf_result.flight_rank) if pf_result %></td>
      </tr>

      <tr>
        <td class='summary_label' colspan="<%= ctJudge * 2 + 1 %>">Penalty</td>
        <td class='total_average'><%= pilot_flight.penalty_total %></td>
      </tr>

      <tr>
        <td class='summary_label' colspan="<%= ctJudge * 2 + 1 %>">Points Earned</td>
        <td class='total_average'><%= points(pf_result.adj_flight_value) if pf_result %></td>
        <td class='rank'><%= rank(pf_result.adj_flight_rank) if pf_result %></td>
      </tr>

      <tr>
        <td class='summary_label' colspan="<%= ctJudge * 2 + 1 %>">Max Possible</td>
        <td class='total_average'><%= decimal_two(pf_result.total_possible) %></td>
      </tr>

      <tr>
        <td class='summary_label' colspan="<%= ctJudge * 2 + 1 %>">Percent of Possible</td>
        <td class='percentage'>
          <%= score_pct_two(pf_result.adj_flight_value, pf_result.total_possible) if pf_result %>%
        </td>
      </tr>

    <% end # if sequence %>

    </tbody>
    </table>

    <% jf_results = flight.jf_results.order(:judge_id) %>
    <%= render :template => 'judges/results',
      :locals => { :j_results => jf_results } %>
  <% end #if ctJudge %>
