  <h3><%= pilot_flight.flight.displayName %></h3>
  
  <% scores = pilot_flight.scores.order(:judge_id) %>
  <% results = pilot_flight.results %>
  <% sequence = pilot_flight.sequence %>
  <% ctJudge = scores.size %>
  <% jf_results = results.f_result.jf_results.order(:judge_id) %>
  <% pfj_results = [] %>
  <% if 0 < ctJudge %>
    <table class="scores">
    <thead>
    <tr>
      <th>F</th>
      <% (1 .. ctJudge).each do |j| %>
        <% pfj_results << results.for_judge(scores[j-1].judge) %>
        <th>J<%= j %></th><th/>
      <% end %>
      <% if sequence %>
        <th>Avg</th><th/>
        <th>K</th>
        <th>PtsLoT</th>
      <% end # if sequence %>
    </tr>
    </thead>
    <tbody>
    <% ctFigs = scores[0].values.size %>
    <% if 0 < ctFigs %>
      <% (1 .. ctFigs-1).each do |f| #figures %>
        <tr>
        <td><%= (f).to_s %></td>
        <% (1 .. ctJudge).each do |j| #judges %>
          <td><%= Score.display_score(scores[j-1].values[f-1]) %></td>
          <td><%= figure_rank(pfj_results[j-1].graded_ranks, f-1) %></td>
        <% end #judges %>
        <% if sequence %>
          <td><%= avg(results.figure_results[f-1], sequence.k_values[f-1]) %></td>
          <td/>
          <td><%= sequence.k_values[f-1] %></td>
          <td><%= ptsLoT(results.figure_results[f-1],
            sequence.k_values[f-1]) %></td>
        <% end %>
        </tr>
      <% end #figures %>
    <% end #if ctFigs %>
    <tr>
    <td>P</td>
    <% (1 .. ctJudge).each do |j| #judges %>
      <td><%= Score.display_score(scores[j-1].values[ctFigs-1]) %></td>
      <td><%= figure_rank(pfj_results[j-1].graded_ranks, ctFigs-1) %></td>
    <% end #judges %>
    <% if sequence %>
      <td><%= avg(results.figure_results[ctFigs-1],
        sequence.k_values[ctFigs-1]) %></td>
      <td/>
      <td><%= sequence.k_values[ctFigs-1] %></td>
      <td><%= ptsLoT(results.figure_results[ctFigs-1],
        sequence.k_values[ctFigs-1]) %></td>
    <% end %>
    </tr>
    <% if sequence %>
      <tr>
      <td>Points</td>
      <% (1 .. ctJudge).each do |j| %>
        <td><%= Score.display_score(pfj_results[j-1].flight_value) %></td>
        <td><%= rank(pfj_results[j-1].flight_rank) %></td>
      <% end %>
      <td><%= points(results.flight_value) %></td>
      <td><%= rank(results.flight_rank) %></td>
      </tr>
      <tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Penalty</td>
      <td><%= pilot_flight.penalty_total %></td>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Points Earned</td>
      <td><%= points(results.adj_flight_value) %></td>
      <td><%= rank(results.adj_flight_rank) %></td>
      </tr>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Max Possible</td>
      <td><%= sprintf('%.02d', (sequence.total_k * 10)) %></td>
      </tr>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Percent of Possible</td>
      <td><%= sprintf('%.2f', results.adj_flight_value * 10.0 /
        sequence.total_k) %></td>
      </tr>
    <% end # if sequence %>
    </tbody>
    </table>
    <table><thead>
    <tr>
    <th>Judge</th>
    <th>rho</th>
    <th>cc</th>
    <th>ri</th>
    <th>tau</th>
    <th>gamma</th>
    <th>Mz</th>
    <th>Mg</th>
    </tr>
    <tbody>
    <% jf_results.each_with_index do |jf_result, j| %>
      <tr>
      <td><%= "J#{j+1} #{jf_result.judge.team_name}" %></td>
      <td><%= jf_result.rho %></td>
      <td><%= jf_result.cc %></td>
      <td><%= jf_result.ri %></td>
      <td><%= jf_result.tau %></td>
      <td><%= jf_result.gamma %></td>
      <td><%= jf_result.minority_zero_ct %></td>
      <td><%= jf_result.minority_grade_ct %></td>
      </tr>
    <% end %>
    </tbody></table>
  <% end #if ctJudge %>
