  <h3><%= pilot_flight.flight.displayName %></h3>
  
  <% scores = pilot_flight.scores.order(:judge_id) %>
  <% pf_result = pilot_flight.results %>
  <% sequence = pilot_flight.sequence %>
  <% ctJudge = scores.size %>
  <% pfj_results = [] %>
  <% if 0 < ctJudge %>
    <table class="scores">
    <thead>
    <tr>
      <th>F</th>
      <% (1 .. ctJudge).each do |j| %>
        <% pfj_results << pf_result.for_judge(scores[j-1].judge) %>
        <th>J<%= j %></th><th/>
      <% end %>
      <% if sequence %>
        <th>Avg</th><th/>
        <th>K</th>
        <th>PtsLoT</th>
      <% end # if sequence %>
    </tr>
    </thead>
    <tbody>
    <% ctFigs = scores[0].values.size %>
    <% if 0 < ctFigs %>
      <% (1 .. ctFigs-1).each do |f| #figures %>
        <tr>
        <td><%= (f).to_s %></td>
        <% (1 .. ctJudge).each do |j| #judges %>
          <td><%= Score.display_score(scores[j-1].values[f-1]) %></td>
          <td><%= figure_rank(pfj_results[j-1].graded_ranks, f-1) %></td>
        <% end #judges %>
        <% if sequence %>
          <td><%= avg(pf_result.figure_results[f-1], sequence.k_values[f-1]) %></td>
          <td>(<%= pf_result.figure_ranks[f-1] %>)</td>
          <td><%= sequence.k_values[f-1] %></td>
          <td><%= ptsLoT(pf_result.figure_results[f-1],
            sequence.k_values[f-1]) %></td>
        <% end %>
        </tr>
      <% end #figures %>
    <% end #if ctFigs %>
    <tr>
    <td>P</td>
    <% (1 .. ctJudge).each do |j| #judges %>
      <td><%= Score.display_score(scores[j-1].values[ctFigs-1]) %></td>
      <td><%= figure_rank(pfj_results[j-1].graded_ranks, ctFigs-1) %></td>
    <% end #judges %>
    <% if sequence %>
      <td><%= avg(pf_result.figure_results[ctFigs-1],
        sequence.k_values[ctFigs-1]) %></td>
      <td>(<%= pf_result.figure_ranks[ctFigs -1] %>)</td>
      <td><%= sequence.k_values[ctFigs-1] %></td>
      <td><%= ptsLoT(pf_result.figure_results[ctFigs-1],
        sequence.k_values[ctFigs-1]) %></td>
    <% end %>
    </tr>
    <% if sequence %>
      <tr>
      <td>Points</td>
      <% (1 .. ctJudge).each do |j| %>
        <td><%= Score.display_score(pfj_results[j-1].flight_value) %></td>
        <td><%= rank(pfj_results[j-1].flight_rank) %></td>
      <% end %>
      <td><%= points(pf_result.flight_value) %></td>
      <td><%= rank(pf_result.flight_rank) %></td>
      </tr>
      <tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Penalty</td>
      <td><%= pilot_flight.penalty_total %></td>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Points Earned</td>
      <td><%= points(pf_result.adj_flight_value) %></td>
      <td><%= rank(pf_result.adj_flight_rank) %></td>
      </tr>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Max Possible</td>
      <td><%= sprintf('%.02d', (sequence.total_k * 10)) %></td>
      </tr>
      </tr>
      <td colspan="<%= ctJudge * 2 + 1 %>">Percent of Possible</td>
      <td><%= sprintf('%.2f', pf_result.adj_flight_value * 10.0 /
        sequence.total_k) %></td>
      </tr>
    <% end # if sequence %>
    </tbody>
    </table>
    <% f_result = pf_result.f_result %>
    <% if f_result %>
      <% jf_results = f_result.jf_results.order(:judge_id) %>
      <%= render :template => 'judges/results',
        :locals => { :j_results => jf_results } %>
    <% end %>
  <% end #if ctJudge %>
