<h1>Listing pilot_flights</h1>

<table>
  <tr>
    <th>Pilot</th>
    <th>Flight</th>
    <th>Sequence</th>
    <th>Aircraft</th>
    <th>Chapter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pilot_flights.each do |pilot_flight| %>
  <tr>
    <td><%= pilot_flight.pilot_id %></td>
    <td><%= pilot_flight.flight_id %></td>
    <td><%= pilot_flight.sequence_id %></td>
    <td><%= pilot_flight.aircraft_id %></td>
    <td><%= pilot_flight.chapter %></td>
    <td><%= link_to 'Show', pilot_flight %></td>
    <td><%= link_to 'Edit', edit_pilot_flight_path(pilot_flight) %></td>
    <td><%= link_to 'Destroy', pilot_flight, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pilot flight', new_pilot_flight_path %>
