<h1>Notes and Explanations</h1>

<h2>Contents</h2>
<ul>
<li><a href='#articles'>Articles</li>
<li><a href='#category'>Category Results</li>
<li><a href='#flight'>Flight Results</li>
<li><a href='#grades'>Grades</li>
<li><a href='#metrics'>Judge Metrics</li>
<li><a href='#refs'>References</li>
</ul>

<div class='report_notes'>
<a name="articles"></a><h2>Scoring Related Articles</h2>
<dl>
<dt><a href='/documents/SA-DCL-2012-04.pdf'>
Just How Good is IAC Judging</a></dt>
<dd>Article in the April, 2012 issue of IAC Sport Aerobatics describes use of this
data to evaluate the quality of judging in IAC.</dd>
<dt><a href='/documents/SA-DCL-2012-07.pdf'>
Interpreting Flight Results</a></dt>
<dd>Article in the July, 2012 issue of IAC Sport Aerobatics describes how judges
and pilots can use this data to improve their performances.</dd>
<dt><a href='/documents/SA-DCL-2012-09.pdf'>
Throwing Away High and Low</a></dt>
<dd>Article in the September, 2012 issue of IAC Sport Aerobatics debunks a sometimes
suggested method for gaining unbiased results from judge scores.</dd>
<dt><a href='/documents/SA-TM-2012-09.pdf'>
A Case for Eliminating the Manipulation of Zero as a Score</a></dt>
<dd>Article in the September, 2012 issue of IAC Sport Aerobatics makes a case for
eliminating the practice of averaging minority zeros and zeroing minority grades.</dd>
<dt><a href='/pages/integrating_nationals.html'>
Integrating Nationals </a></dt>
<dd>How we integrate the U.S. National Aerobatic Championships
outputs from the Exploit Design ACRO scoring program used there.</dd>
</dl>
</div>

<div class='report_notes'>
<a name="category"></a><h2>Category Results on the Contest pages</h2>
<p>The contest pages display results for each category
flown in the contest.  The results show each pilot in rank
order of overall standing and each judge who graded one or
more flights of the category.</p>
<p>The pilot results columns show scores and rankings 
for each flight flown in the category, and the overall
score and rank.  Each row lists 
flight and overall results for a single pilot.  
</p><p>
A star ★  to the left of the pilot name means that the performance
qualifies for an IAC stars achievment award.
</p>
<p>The judge results metrics show rollups for all flights judged in the category.
<p>
<%= image_tag 'Category.png', :class=>'notes_image' %>
<p class='notes_text'>
<ol>
<li>Each link at the top of the flight column
leads to a report detailing scores from each judge for each pilot on the
flight.</li>
<li>Each link in the pilot column leads to the scoring detail for all
flights flown by the pilot at the contest.</li>
<li>Percentage numbers show the percent of possible points earned by
the pilot for the flight after penalties.</li>
<li>Rank numbers show the pilot rank for the flight after penalties.  The
rank is the count of pilots who did better, plus one.  (A rank value of one
is the best rank, meaning no-one else did better.)</li>
<li>The Total column shows the total points, percent of total possible
points, and rank for each pilot in the category.</li>
<li>See the <a href='#metrics'>judge metrics</a> explanations for
further notes about the numbers in the columns next to the judge names.</li>
</ol>
</p>
</div>

<div class='report_notes'>
<a name="flight"></a><h2>Flight results</h2>
<p>The flight results show how pilots of one flight
at one contest measured-up in front of one judging line.
It shows rankings given the pilots by each judge, penalties,
and points before and after penalties.</p>
<%= image_tag 'Flight.png', :class=>'notes_image' %>
<p class='notes_text'><ol>
<li>Each link in the pilot column leads to the scoring detail for all
flights flown by the pilot at the contest.</li>
<li>The judge columns show how each judge scored and ranked each
pilot.  The rank numbers in parentheses show how the judge ranked each pilot
relative to the other pilots before penalties.</li>
<li>The Score column shows the average of points awarded by the judges.
The percentages are of maximum possible points available on the flight.
The ranks represent the rankings of the judges before application of
penalties.  These are the ranks used to measure how closely each judge
ranked each pilot relative to the overall ranking.</li>
<li>The Pnlt column shows the number of penalty points earned by the pilot
on the flight.</li>
<li>The Result column shows the pilot rank and number of points earned 
after subtracting penalties from the average score given by the
judges.</li>
<li>See the <a href='#metrics'>judge metrics</a> explanations for
further notes about the numbers in the columns next to the judge names.</li>
</ol></p>
</div>

<div class='report_notes'>
<a name="grades"></a><h2>Grades</h2>
<p>The details for a pilot show every grade from every judge for
every flight flown by one pilot at one contest.</p>
<%= image_tag 'PilotFlight.png', :class => 'notes_image' %>
<p class='notes_text'><ol>
<li>The F column shows the figure number, 'P' for Presentation.</li>
<li>The individual judge columns show the grade given by each judge
for each figure.</li>
<li>When every pilot has flown the same figure, the numbers in parentheses
show how each judge ranked the pilot on each figure.</li>
<li>The Avg column shows the average of the judges' grades for each
figure.</li>
<li>When every pilot has flown the same figure, the numbers in paretheses
show how the pilot ranked relative to the other pilots on each individual
figure.  Use this to find figures flown less well than other pilots.</li>
<li>The number of points left on the table, based on the K value and
average score.  The pilot would have earned this many more points if
all judges had awarded a ten grade.  Use this to find figures
where improvement would give the most point benefit.</li>
<li>The total number of points awarded by the judge to the pilot.</li>
<li>The rank number in parentheses is the number of pilots who received a
higher score from the judge, plus one-- 
'(1)' means first place from that judge.</li>
<li>The average of points awarded by the judges.
The rank number in paretheses represents the ranking before penalties.</li>
<li>The pilot rank and number of points earned 
after subtracting penalties from the average score given by the
judges.</li>
<li>Shows the maximum number of points possible for the flight, and the
percentage of maximum possible points earned by the pilot.</li>
<li>These are the same numbers shown for the flight overall based
on the results for all pilots on the same flight.
The numbers shown match the numbers shown in the flight report.
See the <a href='#metrics'>judge metrics</a> explanations for
further notes about these numbers.</li>
</ol></p>
</div>

<div class='report_notes'>
<a name="metrics"></a><h2>Judge metrics</h2>
<p>The judge metrics include three measures of how closely each judge ranked pilots
relative to the overall ranking of pilots.  The measures use pilot
scores and rankings before penalties.  Judges do not apply
penalties.  Penalties sometimes alter the final rankings of the pilots.</p>
<dl>
<dt>rho (ρ)</dt>
<dd>is the full computation of the Spearman Rank Corellation Coefficent
formulated as follows, multiplied by 100.
<p>
<%= image_tag 'rhoform.png',
:alt => "\rho = \frac{\sum_p(x_p-\bar{x})(y_p-\bar{y})}{\sqrt{\sum_p (x_p-\bar{x})^2 \sum_p(y_p-\bar{y})^2}}" %>
<%= image_tag 'rhodef.png',
:alt => "$x_p$ and $y_p$ are judge and result ranks for pilot p adjusted for ties.  When $1 < m$ pilots have the same rank $r$, the values for $x_p$ (or $y_p$) are the average $r + (m - 1)/2$ of the positions they cover.  For example, with three tied for third, $x_p$ is $(3+4+5)/3 = 3 + (3-1)/2 = 4$." %>
</p><p>
rho ranges from -100 to 100.  
100 means the judge ranked the pilots exactly the same as the result
ranking.
Zero means the judge's rankings are more or less random relative to the
result ranking.
Negative values mean the judge ranked the pilots more or
less opposite the overall ranking-- more if the value is more negative.
Negative 100 means the judge ranked the pilots exactly opposite the result
ranking.  This sometimes happens when there are only two pilots.
</p><p>
Contest values, category rollups, and career rollups
track the three separate sums from all flights.
</p>
</dd>
<dt>ri</dt>
<dd>is the CIVA computation that scales differences in the judge score and
overall score by the difference in rank.  The formula is:
<p>
<%= image_tag 'RI.png' %>
</p>
<p>A zero RI represents perfect agreement in the rankings.  Larger numbers
are worse.  Find more information about RI in the FAI Sporting Code, Section 6:
Aerobatics, referenced below.  The RI discussion begins at paragraph 8.8.1.</p>
<p>Contest values, category rollups, and career rollups
use the average RI value from all flights.  This procedure differs
from that used for rho and gamma because RI contains a scaling 
adjustment for the number of pilots in the flight.  The scaling
starts to dominate the value when there are more than
fifty or sixty pilots.<p>
</dd>
<dt>gamma (γ)</dt>
<dd>
is the Goodman and Kruskal gamma correlation coefficient
multiplied by 100.  
The formula is:
<p>
<%= image_tag 'gammaform.png', :class => "inline-formula",
:alt => "\gamma=\frac{N_c-N_d}{N_c+N_d}" %>
<%= image_tag 'gammadef.png', :class => "inline-formula",
:alt => "$N_c$ is the number of concordant pairs.  $N_d$ is the number of discordant pairs." %>
</p>
<p>
The formula uses counts of differences in paired rankings.  If the
overall ranking and the individual judge ranking both place pilot A
before pilot B, 
that is a "concordant pair."  A "discordant pair" arises when the overall
ranking places pilot B before while the judge places pilot A before, or
vice-versa.</p>
<p>Gamma ranges from -100 to 100.  
100 is a perfect corellation.
Zero means the judge's rankings are more or less random.
Negative values mean the judge ranked the pilots more or
less opposite the overall ranking.  More if the value is more negative.
</p>
<p>Contest values, category rollups, and career rollups
track the total of concordant and discordant
pairs from all flights.</p>
</dd>
<dt>Np</dt><dd>The number of pilots</dd>
<dt>Npp</dt><dd>The number of pilot pairs.  
A flight with six pilots has Np(Np - 1)/2 = 15 pairs.</dd>
<dt>Nf</dt><dd>The number of flights</dd>
<dt>Fza</dt><dd>The average number of pilots in a flight</dd>
<dt>Ng</dt><dd>The number of grades given</dd>
<dt>Ka</dt><dd>The average K for a figure graded</dd>
<dt>Mz</dt><dd>The number of minority zero grades</dd>
<dt>Mg</dt><dd>The number of minority grades</dd>
</dl>
</div>

<div class='report_notes'>
<a name="refs"></a><h2>References</h2>
<p>The following references provide further information about rank metrics.
The references themselves contain references to primary sources.
<ul>
<li><a href='http://en.wikipedia.org/wiki/Correlation_and_dependence'>
Correlation and dependence at Wikipedia.org</a></li>
<li><a
href='http://en.wikipedia.org/wiki/Spearman%27s_rank_correlation_coefficient'>
Spearman's rank correlation coefficient at Wikipedia.org</a></li>
<li><a href='http://en.wikipedia.org/wiki/Gamma_test_%28statistics%29'>
Goodman and Kruskal's gamma at Wikipedia.org</a></li>
<li><a
href='http://www.fai.org/fai-documents'>
FAI Sporting Code</a>. See Section 6: Aerobatics</li>
</ul>
</p>
</div>

