<h1><%= @pilot.name %></h1>

<ul class='no-bullets'>
<% @contests.each do |contest| %>
  <li>
    <%= contest.start %>
    <%= link_to pilot_score_path(@pilot, contest) do %>
      <%= contest.name %>
    <% end %>
    (<%= contest.region %>)
  </li>
<% end %>
</ul>
