<h1>Makes and Models</h1>

<%= form_tag admin_make_models_merge_preview_path do %>
  <table>
  <thead>
    <tr>
      <th>select</th>
      <th>make</th>
      <th>model</th>
      <th>horsepower</th>
      <th colspan='2'>action</th>
    </tr>
  </thead>
  <tbody>
  <% @make_models.each do |mm| %>
    <tr>
      <td><%= check_box_tag "selected[#{mm.id}]" %></td>
      <td><%= mm.make %></td>
      <td><%= mm.model %></td>
      <td><%= mm.horsepower %></td>
      <td><%= link_to :edit, edit_admin_make_model_path(mm) %></td>
      <td><%= submit_tag :merge, name: mm.id %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
