<h1>Makes and Models</h1>

<p>Select two or more makes and models using the check boxes on the left.
Select merge to combine the checked makes and models into one.
</p>

<p>Use the search function (generally 'CMD-f' for "find")
in your browser to find make-model
combinations of interest. Refresh the page ('CMD-r') to clear all check boxes.
</p>

<p>A thumbs-up "👍" next to a check box indicates
that a curator has confirmed the make and model combination.
Use edit to set or clear it.
</p>

<%= form_tag admin_make_models_merge_preview_path do %>
  <table>
  <thead>
    <tr>
      <th>select</th>
      <th>make</th>
      <th>model</th>
      <th>horsepower</th>
      <th colspan='2'>action</th>
    </tr>
  </thead>
  <tbody>
  <% @make_models.each do |mm| %>
    <tr>
      <td>
        <%= check_box_tag "selected[#{mm.id}]" %>
        <%= ' 👍' if mm.curated %>
      </td>
      <td><%= mm.make %></td>
      <td><%= mm.model %></td>
      <td><%= mm.horsepower %></td>
      <td><%= link_to :edit, edit_admin_make_model_path(mm) %></td>
      <td><%= submit_tag :merge, name: mm.id %></td>
    </tr>
  <% end %>
  </tbody>
  </table>
<% end %>
