<h1>Admin Make Model Merge</h1>

<%= form_tag admin_make_models_merge_path do %>
  <ul class="make-model-targets">
    <% @merge_models.each do |make_model| %>
      <li>
        <%= radio_button_tag :target, make_model.id,
          make_model.id == @target_id %>
        <%= make_model_description(make_model) %>
        <%= hidden_field_tag "selected[#{make_model.id}]" %>
      </li>
    <% end %>
  </ul>

  <%= submit_tag :merge,
    data: { :confirm => 'Be careful. This cannot be readily reversed.' } %>
  <%= link_to :cancel, admin_make_models_path(:anchor => @target) %>
<% end %>

<p>"Merge" will place all of the following airplanes with
the selected make and model. It will delete the other make(s) and model(s).
</p>

<ul class="make-model-airplanes-list">
  <% @merge_models.each do |make_model| %>
    <li><%= make_model_description(make_model) %>
      <ul>
        <% make_model.airplanes.collect(&:reg).uniq.sort.each do |reg| %>
          <li><%= reg.blank? ? '{unspecified registration}' : reg %></li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>
