<tr>
  <td><%= synch_record.manny_number %></td>
  <td><%= synch_record.contest_id %></td>
  <td><%= synch_record.synch_date %></td>
  <% contest = synch_record.contest %>
  <% if contest %>
    <td><%= link_to contest.sobriquet, contest %></td>
    <td><%= contest.start %></td>
    <td><%= contest.place %></td>
  <% else %>
    <td colspan='3'>no contest</td>
  <% end %>
  <td>
    <%= link_to 'delete', admin_manny_synch_path(synch_record), 
      :confirm => 'Will delete the contest, too, okay?', 
      :method => :delete %>
  </td>
  <td>
    <%= link_to 'retrieve', admin_manny_retrieve_path(synch_record) %>
  </td>
</tr>
