<%= link_to 'Admin', admin_contests_path %>

<h1>Admin Manny Synch Records</h1>

<table>
<thead>
  <tr>
    <th>m_no</th>
    <th>c_id</th>
    <th>synch date</th>
    <th>name</th>
    <th>start</th>
    <th>place</th>
  </tr>
</thead>
<tbody>
<% @manny_synchs.each do |manny| %>
  <tr>
    <td><%= manny.manny_number %></td>
    <td><%= manny.contest_id %></td>
    <td><%= manny.synch_date %></td>
    <% contest = manny.contest %>
    <% if contest %>
    <td><%= link_to contest.sobriquet, contest %></td>
    <td><%= contest.start %></td>
    <td><%= contest.place %></td>
    <% else %>
      <td colspan='3'>no contest</td>
    <% end %>
    <td>
      <%= link_to :delete, admin_manny_synch_path(manny), 
        :confirm => 'Will delete the contest, too, okay?', 
        :method => :delete %>
    </td>
  </tr>
<% end %>
</tbody>
</table>
