<tr>
  <td><%= jc_result.id %>
  <td><%= jc_result.judge %></td>
  <td><%= jc_result.category.name %></td>
  <td><%= jc_result.pilot_count %></td>
  <td><%= jc_result.rho %></td>
  <td><%= jc_result.gamma %></td>
</tr>
