<!DOCTYPE html>
<html>
<head>
  <title>Iac</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<table class="material">
<tbody><tr>
<td class="navigation">
<h1 class="hide">Nav</h1>
<ul class="no_bullets">
<li><%= link_to 'Contests', contests_path %></li>
<li><%= link_to 'Pilots', pilots_path %></li>
</ul>
</td>

<td class="content">
<%= yield %>
</td>
</tr></tbody></table>

<div class="acknowledgement">
<p>These pages appear to you thanks to: </p>
<ul>
<li>"Manny," the contest results tracking system built by Randy Owens; </li>
<li>"JaSPer," the contest scoring and data management system
built by 'Bwana' Bob Buckley; and </li>
<li>Web wizardry by Douglas Lovell</li>
</ul>
</body>
</html>
