<!DOCTYPE html>
<html>
<head xmlns:og="http://ogp.me/ns#">
  <title>IAC Aerobatic Contest Data</title>
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" /> 
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag "vendor/custom.modernizr" %>
  <%= csrf_meta_tags %>
  <meta name="title" content="IAC Aerobatic Contest Data"/>
  <meta name="description" 
    content="Contest data and computed statistics for aerobatic contests
    of the International Aerobatic Club (IAC)"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="google-site-verification" content="eQl6GaBq3jeBLlrEB-P_EoeE78yAPDRAhtPfB7b1ypw" />
  <meta property="og:title" content="IAC Aerobatic Contest Data"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="http://iaccdb.iac.org/"/>
  <meta property="og:image"
    content="http://iaccdb.iac.org/images/iac_logo_200.png"/>
  <meta property="og:site_name" content="IAC Contest Data"/>
  <meta property="og:description"
    content="Contest data and computed statistics for aerobatic contests
    of the International Aerobatic Club (IAC)"/>
</head>
<body>

<div class="fixed">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "IAC CDB", root_path %></a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul>
        <li class='has-dropdown'><%= link_to 'Navigate', '#' %>
          <ul class='dropdown'>
            <li><%= link_to 'Contests', contests_path %></li>
            <li><%= link_to 'Pilots', pilots_path %></li>
            <li><%= link_to 'Judges', judges_path %></li>
            <li><%= link_to 'Assistants', assistants_path %></li>
            <li><%= link_to 'Counts', further_participation_path %></li>
            <li><%= link_to 'Notes', pages_path(:notes) %></li>
          </ul>
        </li>
        <li class='has-dropdown'><%= link_to 'Leaders', '#' %>
          <ul class='dropdown'>
            <li><%= link_to 'Regional', leaders_recent_regionals_path %></li>
            <li><%= link_to 'Collegiate', leaders_recent_collegiate_path %></li>
            <li><%= link_to 'Soucy', leaders_recent_soucy_path %></li>
            <li><%= link_to 'Judges', leaders_recent_judges_path %></li>
          </ul>
        </li>
      </ul>
    </section>
  </nav>
</div>

<div id="content">
  <p>Contact <a href="mailto:doug@wbreeze.com">Douglas Lovell</a> with questions and
     notice of any errors.
     These pages brought to you by
     <a href="http://www.telegraphyinteractive.com/">Telegraphy Interactive</a>, and
     <a href="http://myflttime.com/">myFltTime.com</a>.
  </p>
  <div id='notice'><%= notice %></div>
  <div id='alert'><%= alert %></div>
  <%= yield %>
  <div id="footer">
    <p>Contact <a href="mailto:doug@wbreeze.com">Douglas Lovell</a> with questions and
     notice of any errors.</p>
    <p>As of the 2014 contest year, these are official results.  
    Results prior to 2014 are computed by this system for study only, with
    official results published at 
    <a href="http://www.usnationalaerobatics.org/IAC/IAC_Scores.asp">www.usnationalaerobatics.org</a>.</p>
    <p>See the 
    <%= link_to 'Notes page', pages_path(:notes) %>
    for explanations of the numbers.</p>
    <p>These pages appear to you thanks to: </p>
    <ul>
      <li>"Manny," the contest results tracking system built by Randy Owens; </li>
      <li>"JaSPer," the contest scoring and data management system
      built by 'Bwana' Bob Buckley;</li>
      <li>Our contest scorekeepers who key-in the data; and</li>
      <li>Web wizardry by <a href="mailto:doug@wbreeze.com">Douglas Lovell</a> and
      <a href="http://www.telegraphyinteractive.com/">Telegraphy Interactive</a></li>
    </ul>
    <p>Sponsored by
      <a href="http://myflttime.com/">myFltTime.com</a>.  
      Quick logging pilot flight time.
    </p>
    <p>This is an open source project hosted at
      <a href="https://github.com/wbreeze/iaccdb">github.com/wbreeze/iaccdb</a>
    </p>
  </div>
</div>
</body>
</html>
